################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MascotasParlantes/.vs/MascotasParlantes/v15/Server/sqlite3
/MascotasParlantes/.vs/MascotasParlantes/v15
